 <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MapIt</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="map">
        <agm-map [latitude]="lat" 
                 [longitude]="lng" 
                 [zoom]="zoom" 
                 [disableDefaultUI]="false" 
                 [zoomControl]="false"
                 (mapClick)="mapClicked($event)">
          <agm-marker *ngFor="let m of markers; let i = index" 
                      [latitude]="m.lat" [longitude]="m.lng"
                      (markerClick)="clickedMarker(m,i)"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m,$event)">

                      <agm-info-window>
                        <strong>{{m.name}}</strong>
                      </agm-info-window>


          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Marker</h3>
        </div>
        <div class="panel-body">
          <form [formGroup] ="markerForm" (submit)="addMarker($event)">
            <label>Location Name</label>
            <input type="text" formControlName="name">

            <label>Longitude</label>
            <input type="text" formControlName="lat">
            
            <label>Latitude</label>
            <input type="text" formControlName="lng">
            
            <label>Draggable</label>
            <select formControlName="draggable">
              <option value="no">No</option>
              <option value="yes">Yes</option> 
            </select>
            <input type="submit" value="MapIt">
          </form>
        </div>
      </div>
    </div>
  </div>


</div>