<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Popular Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of popularList; let i = index" class="col-md-2 movie_container">
          <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
          <img *ngIf="!movie.poster_path" class="thumbnail" src="./Not_available.jpg">    
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>  
</div>
